<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Round Up!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/urlView.css" type="text/css" />
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/proposal-page.js"></script>

    <!-- Old CSS params, do not use -->
    <!-- <link rel="stylesheet" href="/styles/responsiveStyle.scss" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" /> -->
    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->


    <!-- FOMANTIC UI-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js"></script>

    <!-- Semantic UI Calendar Module-->
    <link rel="stylesheet" href="/vendor/calendar.css" type="text/css" />
    <script type="text/javascript" src="/vendor/calendar.js"></script>

    <!-- <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script> -->

  </head>

  <body>
    <!-- Side Bar Menu-->
    <div class="ui left demo vertical inverted sidebar labeled icon menu" id = "sidebar">
      <a class="item">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item">
        <i class="block layout icon"></i>
        How to use
      </a>
      <a class="item">
        <i class="smile icon"></i>
        Create Event
      </a>
    </div>

    <div class = "pusher"> <!-- This is required syntax for the side bar menu-->


    <!-- Nav bar-->
    <div class = "ui basic icon top inverted menu" style= "margin-bottom: 1em" id = "navbar">

      <a id = "toggle" class = "item">
        <i class = "sidebar icon"></i>
      </a>
      <h1 id = "logo">ROUND</h1><h1 id="logo2" style = "color: orangered">UP</h1>

      <!-- script to trigger the side bar menu-->
      <script>
      $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
      });
      </script>
    </div>

    <!-- Title, description and location information-->
    <div class = "ui text container" id = "proposal-header">
        <h1> <%=title%> </h1>
        <h3> <%=location%></h3>
        <h2><%=description%></h2>
        <button class ="ui primary button" id="rsvp">RSVP Here</button>
    </div>

    <div class="ui hidden divider"></div>

    <!-- Input fields to be toggled when button is hit-->
    <div class = "ui text container" id = "user-authentication" style = "display: none">
      <h2>Name</h2>
      <div class="ui input">
        <input type="text" placeholder="Name...">
      </div>
      <h2>Email</h2>
      <div class="ui input">
        <input type="text" placeholder="Email...">
      </div>

      <div class="ui hidden divider"></div>

      <div class = "ui container" id = "options"></div>

      <!-- <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>RSVP for SEPT 29th</label> -->

      <div class="ui hidden divider"></div>

      <button class ="ui primary button" type = "submit">Confirm Here</button>
    </div>

    <!-- <script>
      $('#optionID').checkbox('toggle')
    </script> -->


    </div>
  </body>
</html>
