// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.create-event-body {
  display: flex;
  text-align: center;
  margin: 1em;
  padding: 2em;
  border-style: solid;
  border-width: 2px;
}

@media (max-width: 600px) {

  h1.ui.inverted.header {
  font-size: 1.5rem;
  }

  h2.ui.inverted.header {
    margin-top: 0.25rem;
    font-size: 1rem;
    }

  #create-event-start {
    padding: 1rem;
    font-size: 1rem;
  }

}
