// See: https://sass-lang.com/
$primaryColor: #29586C;
$primaryButtonColor: #042838;
$secondaryButtonColor: #C63500;
$textBackgroundColor: #f9f9f9;
$fieldButtonColor: #29586C;


//Headers
.title {
  color: $primaryButtonColor;
}

h2 {
  color: $primaryButtonColor;
}


//Primary Create Buttons
#create-event-start {
  background-color: $primaryButtonColor;
}

#create-event-start2 {
  background-color: $primaryButtonColor;
}


// buttons colors
button#name-email-next {
  background-color: $fieldButtonColor;
}

button#description-location-next {
  background-color: $fieldButtonColor;
}

button#proposal-save-button {
  background-color: $fieldButtonColor;
}

button#save-redirect {
  background-color: $fieldButtonColor;
}


#navbarsmall {
  display: none;
}

body#body{
  background: #7093A2;
  //background-color: #7093A2;
}


div#main-header {
  padding: 1rem;
  background: #29586C;
  // background-image: url('../Pictures/table-wine.jpg');
  z-index: 200;
}


div#navbarbig {
  padding: 1rem;
  background:#133F53;
}


//Container to hold events
.create-event-body {
  display: flex;
  text-align: center;
  margin: 1em;
  padding: 2em;
  border-style: solid;
  border-width: 2px;
}


// LOGOS AND SLOGAN COLOURS
h1#logo{
  font-size: 3rem;
  color:white;
  display: inline;

}
h1#logo2{
  font-size: 3rem;
  color: orangered;
  display: inline;
}

h2#slogan{
  margin-top: 0.5rem;
}

//Text boxes to be offwhite
#name-email-body {
  background: $textBackgroundColor;
}

#event-description-body {
  background: $textBackgroundColor;
}

#proposal-times-body {
  background: $textBackgroundColor;
}



// phone size responsive design
@media (max-width: 600px) {

  #navbarsmall {
    padding-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    background:#133F53;
    align-items: center;
  }

  #main-header{
    display:none;
  }

  #navbarbig {
    display: none;
  }

  h1#logo{
    margin-left: 0.25rem;
    font-size: 2rem;
  }
  h1#logo2{
    font-size: 2rem;
  }

  h1.ui.inverted.header {
  font-size: 1.5rem;
  }

  h2.ui.inverted.header {
    margin-top: 0.25rem;
    font-size: 1rem;
    }

  #create-event-start {
    margin-right: 0.75rem;
    padding:0.5rem;
    font-size: 1.5rem;
  }

}
