$primaryColor: #29586C;
$primaryButtonColor: #042838;
$secondaryButtonColor: #C63500;
$textBackgroundColor: #f9f9f9;
$fieldButtonColor: #29586C;

// #edit-rsvp-authentication

// BUTTONS
#rsvp {
  background-color: $primaryButtonColor;
}

#edit-rsvp {
  background-color: $primaryButtonColor;
}

#confirm-user {
  background-color: $primaryButtonColor;
}

#edit-confirm{
  background-color: $primaryButtonColor;
}

#confirm-rsvp {
  background-color: $primaryButtonColor;
}

// TOGGLE TEXT AREAS AND BORDERS

#edit-rsvp-authentication {
  padding: 1rem;
  text-align: center;
  border-style: solid;
  border-width: 2px;
}

div#user-authentication {
  // display:flex;
  // flex-direction: column;
  padding: 1rem;
  text-align: center;
  border-style: solid;
  border-width: 2px;
}

a#toggle {
  margin-right: 3rem;
}

div#sidebar {
  background: #042838;
}

div#proposal-header {
  text-align: center;
}

div#rsvp {
  text-align: center;
}



h1#logo {
  align-items: center;
  // margin-left: auto;
  // margin-right: 0px;
  color: white;
  font-size: 4.5rem;
  text-align: center;
}

h2#logo {
  align-items: center;
  // margin-left: 0px;
  // margin-right: auto;
  color: white;
  font-size: 4.5rem;
  text-align: center;
}

div#navbar {
  padding: 1rem;
  background:#133F53;
}

div#options {
  display: flex;

}

@media (max-width: 600px) {

  h1#logo {
    display: flex;
    float: center;
    color: white;
    // margin-left: 1rem;
    font-size: 2rem;
  }

  div#proposal-header h1 {
    margin: 0.25em;
    font-size: 2rem
  }

  div#proposal-header h2 {
    margin: 0.25rem;
    font-size: 0.75rem
  }

  div#proposal-header h3 {
    margin: 0.25rem;
    font-size: 1rem
  }

  div.ui.input {
    padding: 0em;
  }

  div#navbar {
    background:#133F53;
    padding: 0.25rem;
  }

  a#toggle {
    margin-right: 1rem;
  }

  div#options {
    display: flex;
    flex-direction: column;
  }

  div#availability-modify {
    display:flex;
    flex-direction: column;
    text-align: center;
  }



} // End of media small size


// .ui#content{
//   // padding should be the same as header height
//   padding-top: 55px;
// }
