$primaryColor: #29586C;
$primaryButtonColor: #042838;
$secondaryButtonColor: #C63500;
$textBackgroundColor: #f9f9f9;
$fieldButtonColor: #29586C;

// #edit-rsvp-authentication

thead {
  padding: 1rem;
}

th {
  padding: 2rem;
}

td {
  padding: 2rem;
}


#availability-modify {
  padding: 2rem;
  // display: flex;
  text-align: center;
  // flex-direction: column;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 2rem;

}

div#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#smalltable {
  display:none;
}

#bigtable {
  margin-top: 2rem;
  display:flex;
  border-style: solid;
  border-width: 2px;
}

// BUTTONS
#rsvp {
  background-color: $primaryButtonColor;
}

#edit-rsvp {
  background-color: $primaryButtonColor;
}

#confirm-user {
  background-color: $primaryButtonColor;
}

#edit-confirm {
  background-color: $primaryButtonColor;
}

#confirm-rsvp {
  background-color: $primaryButtonColor;
}

// TOGGLE TEXT AREAS AND BORDERS

#edit-rsvp-authentication {
  padding: 1rem;
  text-align: center;
  border-style: solid;
  border-width: 2px;
}

body#body {
  background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__340.jpg");
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

div#user-authentication {
  // display:flex;
  // flex-direction: column;
  padding: 3rem;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  display:flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

a#toggle {
  margin-right: 3rem;
}

div#sidebar {
  background: #042838;
}

div#proposal-header {
  text-align: center;
}

div#rsvp {
  text-align: center;
}



h1#logo {
  display: inline-block;
  align-items: center;
  // margin-left: auto;
  // margin-right: 0px;
  color: white;
  font-size: 4.5rem;
  text-align: center;
}

h1#logo2 {
  display: inline-block;
  align-items: center;
  // margin-left: 0px;
  // margin-right: auto;
  color: white;
  font-size: 4.5rem;
  text-align: center;
}

div#navbar {
  padding: 1rem;
  background: #133F53;
}

div#options {
  display: flex;

}

#title {
  font-size: 3rem;
}

#location {
  font-size: 2rem;
  display: inline;
}

#description {
  margin-top:1rem;
}

@media (max-width: 600px) {

  #smalltable {
    display: block;
    padding: 1rem;
    // text-align: center;
    border-style: solid;
    border-width: 2px;
    // text-align: center;
  }

  #bigtable {
    display: none;
  }

  #title {
    font-size: 2rem;
  }

  #location {
    font-size: 1.5rem;
  }

  #description {
    margin-top: 0.5rem;
    font-size: 1rem;
  }


  //LOGO RESIZE

  h1#logo {
    display: flex;
    float: center;
    color: white;
    // margin-left: 1rem;
    font-size: 2rem;
  }

  h1#logo2 {
    display: flex;
    float: center;
    color: white;
    // margin-left: 1rem;
    font-size: 2rem;
  }

  // div#proposal-header h1 {
  //   margin: 0.25em;
  //   font-size: 2rem
  // }

  // div#proposal-header h3 {
  //   margin: 0.25rem;
  //   font-size: 1rem
  // }

  div.ui.input {
    padding: 0em;
  }

  div#navbar {
    background: #133F53;
    padding: 0.25rem;
  }

  a#toggle {
    margin-right: 1rem;
  }

  div#options {
    display: flex;
    flex-direction: column;
  }

  #availability-modify {
    display: flex;
    flex-direction: column;
    text-align: center;

  }
}

//   @media only screen and (max-width: 320px) {

//     /* Small screen, non-retina */
//     body#body {
//       background-image: url("https://i.pinimg.com/originals/87/22/19/872219e39469e56ff5742581122212bf.jpg");
//     }
//   }

//   @media only screen and (min-resolution: 2dppx) and (max-width: 320px) {

//     /* Small screen, retina */
//     body#body {
//       background-image: url("https://i.pinimg.com/originals/87/22/19/872219e39469e56ff5742581122212bf.jpg");
//     }
//   }

//   @media only screen and (min-width: 321px) and (max-width: 538px) {

//     /* Medium screen, non-retina */
//     body#body {
//       background-image: url("https://i.pinimg.com/originals/87/22/19/872219e39469e56ff5742581122212bf.jpg");
//     }
//   }

//   @media only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px) {

//     /* Medium screen, retina */
//     body#body {
//       background-image: url("https://i.pinimg.com/originals/87/22/19/872219e39469e56ff5742581122212bf.jpg");
//     }
//   }

//   @media only screen and (min-resolution: 2dppx) and (min-width: 539px) {

//     /* Large screen, retina */
//     body#body {
//       background-image: url("https://i.pinimg.com/originals/87/22/19/872219e39469e56ff5742581122212bf.jpg");
//     }
//   }


// }

// End of media small size


// .ui#content{
//   // padding should be the same as header height
//   padding-top: 55px;
// }
